body {
  background: radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.15),
      transparent 60%
    ),
    url("https://images.unsplash.com/photo-1765335566377-3065df459fe3?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      center/cover fixed;
  font-family: system-ui, sans-serif;
  color: white;
  text-align: center;
  padding: 40px;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* Piano */
.piano {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 40px;
}

.key {
  width: 60px;
  height: 220px;
  background: linear-gradient(#fff, #ddd);
  border-radius: 8px;
  box-shadow: inset 0 -6px 0 #bbb, 0 10px 30px rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  transition: all 0.08s ease;
}

.key span {
  position: absolute;
  bottom: 12px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* Melody cards */
.melody-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 50px;
  max-width: 900px;
  margin-inline: auto;
}

.melody-card {
  background: rgba(112, 31, 7, 0.438);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.15);
  backdrop-filter: blur(6px);
}

.melody-card h3 {
  margin: 0 0 12px;
}

button {
  background: #222;
  color: #fff;
  border: 1px solid #555;
  padding: 10px 20px;
  margin: 6px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #333;
}

/* Snow */
.snow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 5;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}

.key {
  position: relative;
  overflow: hidden;
}

.key-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(
    to top,
    rgba(0, 150, 255, 0.6),
    rgba(0, 200, 255, 0.3)
  );
  pointer-events: none;
  transition: height 0.1s linear;
}
